/* You can add global styles to this file, and also import other style files */
@import './palette.scss';

body, html {
  background-color: $background;
}

.container {
  border-radius: 5px;
  background-color: lightgray;
  margin: 2px;
  padding: 10px;
  box-sizing: content-box;
}

.device-name {
  flex: 1;
  margin: auto;
}